@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-family: Open Sans,sans-serif;
}

.animate {
  @apply transition-all duration-200;
}

.logo {
  font-family: Rowdies,cursive;
}

form label {
  @apply text-sm text-gray-500 mb-2;
}

form input[type='text'] {
  @apply bg-gray-50 animate rounded-lg px-2 py-2 text-sm;
}

form input[type="email"] {
  @apply border-b border-blueGray-50 pb-2;
}

form input[type="password"] {
  @apply border-b border-blueGray-50 pb-2;
}

form select {
  @apply bg-gray-50 animate rounded-lg px-2 py-2 text-sm;
}


form .btn {
  @apply bg-blueGray-500 text-sm font-bold text-gray-100 px-6 py-2 cursor-pointer inline-block rounded-full box-border;
}

.CodeMirror { height: 600px !important; }

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, .2) !important;
}